/* Headline Font */
@font-face {
  font-family: 'my-standard';
  src: url('C:\Users\Ameer\Desktop\Workspace\portfolio\public\fonts\my-standard.ttf');
}
/* Signature Quote Font */
@font-face {
  font-family: 'Hand of Jun';
  src: url('C:\Users\Ameer\Desktop\Workspace\portfolio\public\fonts\Hand of Jun.otf');
}
/* Section Font Eg. Technology Skills */
@font-face {
  font-family: 'Thirty Sans Bold DEMO' ;
  src: url('C:\Users\Ameer\Desktop\Workspace\portfolio\public\fonts\Thirty Sans Bold DEMO.ttf');
}
/* Nav Links and Other Description Font */
@font-face {
  font-family: 'Chocolates Trial Regular';
  src: url('C:\Users\Ameer\Desktop\Workspace\portfolio\public\fonts\TT Chocolates Trial Regular.otf');
}

body{
  margin: 0;
  background-color: #252525;
  color: #fff;
  scroll-behavior: smooth;
}